@using System.Globalization
@using System
@{
    var year = 2024;
    var tempDate = new DateTime(year, 1, 1);
    var calendar = new GregorianCalendar();
}

<div>
    <a id="@tempDate.ToString("yyyy")"></a>

    <h1 class="text-center" style="margin:50px 0 50px 0;">@year Daily Planner</h1>

    @Html.Partial("_MonthLinks")

    <a id="to-do-lists"></a>
    <div id="to-do-list-links">
        <div>
            <a href="#work-to-do-list">Work to do list</a>
        </div>

        <div>
            <a href="#personal-to-do-list">Personal to do list</a>
        </div>
    </div>

    <div class="new-page"></div>

    @* Work to do list *@
    <div class="new-page"></div>

    @{
        var workToDoListModel = new ToDoListViewModel();
        workToDoListModel.TempDate = tempDate;
    }

    @Html.Partial("_WorkToDoList", workToDoListModel)

    @* Personal to do list *@
    <div class="new-page"></div>

    @Html.Partial("_PersonalToDoList", workToDoListModel)

    <div class="new-page"></div>

    @*Create month pages (and their day pages)*@
    @{
        var monthModel = new MonthViewModel()
            {
                Year = year,
                Calendar = calendar,
                TempDate = tempDate
            };
    }

    @Html.Partial("_MonthSummary", monthModel)

    @Html.Partial("_MonthDays", monthModel)

    @Html.Partial("_YearWeeks")

    <div class="new-page"></div>
    <h2>About</h2>
    <p>Created by: Lee Englestone</p>
    <p>Twitter: <a href="https://twitter.com/leeenglestone">@@LeeEnglestone</a></p>
    <p>Version: v9</p>
    <p>Date: @DateTime.Now.ToString("dd/MM/yyyy")</p>
</div>